@page "/About"

<div class="background-own p-own">
    <p>
        Vitajte v luxusnom hoteli, ktorý sa nachádza v srdci malebného mesta na pobreží. Naša elegantná päťhviezdičková ubytovacia jednotka ponúka nezabudnuteľný zážitok pre náročných cestovateľov z celého sveta. S nádherným výhľadom na oceán a štýlovým dizajnom interiéru vám hotel poskytne relaxačný a pokojný pobyt.
    </p>
    <p>
        Naše priestorné izby a apartmány sú vkusne zariadené s dôrazom na detail, aby ste sa cítili ako doma. Každý hosť môže očakávať prvotriedne vybavenie, moderné technologické vymoženosti a osobitný servis od našich profesionálnych zamestnancov. V našom wellness centre si môžete oddýchnuť pri relaxačných procedúrach a vychutnať si vynikajúce chute v našich reštauráciách s miestnymi špecialitami.
    </p>
    <p>
        Pre tých, ktorí hľadajú dokonalý priestor na podujatia a konferencie, hotel poskytuje moderné konferenčné miestnosti s najnovšou audiovizuálnou technikou. Máme aj širokú škálu služieb pre svadby a iné oslavy, aby sme vám pomohli usporiadať nezabudnuteľný a štýlový podujatia.
    </p>
    <p class="m-0">
        Užite si dokonalý pobyt v našom hoteli hotel a nechajte sa hýčkať v atmosfére luxusu a pohody, ktorú ponúkame našim návštevníkom. Vaše priania sú pre nás príkazom, a my sme tu, aby sme vám poskytli najvyššiu úroveň pohostinnosti a komfortu.
    </p>
</div>
@code {

}
