@page
@model OSsemes.Areas.Identity.Pages.Account.RegisterModel
@{
}

<div class="text-left h-75 w-75">
    <section>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Vytvoriť účet do služby  <a href="~/">Hotela x</a></h2>
                                <form id="account" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Vaše meno</label>
                                        <input asp-for="Input.Name" type="text" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Vaše priezvisko</label>
                                        <input asp-for="Input.Surname" type="text" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Váš email</label>
                                        <input asp-for="Input.Email" type="email" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Vaše heslo</label>
                                        <input asp-for="Input.Password" type="password" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label">Opakovať heslo</label>
                                        <input asp-for="Input.ConfPassword" type="password" class="form-control form-control-lg" />
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" asp-for="Input.TermsCond" id="checkTermsCond" />
                                        <label class="form-check-label" for="checkTermsCond">
                                            Súhlasím s podmienkami:  <a @* href="#!" *@ class="text-body"><u>Terms of service</u></a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" id="login-submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Registrovať
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Máte už účet? <a href="/Identity/Account/Login" class="fw-bold text-body"><u>Login here</u></a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

