@inject IJSRuntime JSRuntime

<!-- Modal -->
<div class="modal fade" id="staticBackdropApprove" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">@Header</h5>
                @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
            </div>
            <div class="modal-body" id="modalATextLabel">
                @((MarkupString)Text)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @onclick="FuncOnSucc">Áno</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="FuncOnDiss">Nie</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Header { get; set; } = "Info";

    [Parameter]
    [EditorRequired]
    public string Text { get; set; }

    /// <summary>
    /// Nazov funkcie, ktora sa uskutocni po stlaceni ano
    /// </summary>
    [Parameter]
    [EditorRequired]
    public EventCallback FuncOnSucc { get; set; }       

    /// <summary>
    /// Nazov funkcie, ktora sa uskutocni po stlaceni nie
    /// </summary>
    [Parameter]
    [EditorRequired]
    public EventCallback FuncOnDiss { get; set; }


    public async Task OpenModal()
    {
        await JSRuntime.InvokeVoidAsync("eval", "$('#staticBackdropApprove').modal('show');");  //(pomohol som si z internetu tutoriály/AI)
    }
}

