<div class="background-own p-own">
    <p>
        Vitajte v našom hoteli, kde sa spája história, elegancia a pohoda.
        Náš hotel je postavený v secesnom štýle, ktorý odráža krásu a harmóniu prírody.
        Nachádzame sa vo vnútrozemí, v tichej a zelenej oblasti, ktorá je ideálna pre oddych a relaxáciu.
        V našom hoteli sa môžete tešiť na vynikajúce služby a zariadenia, ktoré splnia vaše očakávania.
        Ponúkame vám komfortné a priestranné izby, ktoré sú vybavené klimatizáciou, minibarom, trezorom, TV, Wi-Fi a kúpeľňou s vaňou alebo sprchou.
        Niektoré izby majú aj balkón alebo terasu s výhľadom na park alebo rieku.
        V našom hoteli sa tiež môžete oddať rôznym formám welness a kúpeľnej liečby.
        Máme pre vás pripravené vnútorné a vonkajšie bazény s termálnou vodou, sauny, parné kúpele, vírivky, masáže, zábaly, kúpele a ďalšie procedúry.
        Využite príležitosť vyskúšať si naše špeciálne liečivé zdroje, ako sú sírna voda a sírne bahno, ktoré majú blahodarné účinky na pohybové ústrojenstvo, kožné ochorenia a nervový systém.
    </p>
    <p>
        V našom hoteli sa tiež postaráme o vaše chuťové poháriky.
        Ponúkame vám bohaté raňajky formou bufetu, ktoré zahŕňajú čerstvé pečivo, ovocie, zeleninu, mliečne výrobky, vajíčka, mäso, cereálie a nápoje.
        Na obed a večeru si môžete vybrať z našej ponuky tradičnej slovenskej a medzinárodnej kuchyne, ktorá je pripravovaná z kvalitných a lokálnych surovín. Môžete si tiež vychutnať náš výber dezertov, kávy, čaju, vína a iných nápojov.
        V našom hoteli sa nebudete nudiť.
        Máme pre vás pripravené rôzne aktivity a zábavu, ktoré vám spríjemnia váš pobyt. Môžete si zahrať tenis, golf, bowling, stolný tenis, biliard, šípky, šach, bridž alebo iné spoločenské hry. Môžete si tiež požičať bicykel, kolobežku, korčule, lyže alebo sane a preskúmať okolie. Ak máte radi kultúru a históriu, môžete navštíviť neďaleké pamiatky, múzeá, galérie, kostoly, zámky, hrady alebo jaskyne.
    </p>
    <p class="m-0">
        V našom hoteli sa cítime ako doma. Náš personál je priateľský, profesionálny a ochotný.
        Sme tu pre vás 24 hodín denne, aby sme vám poskytli všetko, čo potrebujete.
        Máme pre vás k dispozícii recepciu, concierge, izbovú službu, práčovňu, čistiareň, úschovňu batožiny, parkovisko, detský kútik, záhradu, terasu a salónik.
        V našom hoteli sa budete cítiť ako v raji. Náš hotel je miestom, kde sa spája história, elegancia a pohoda. Je to miesto, kde sa môžete zbaviť stresu, obnoviť svoje zdravie, užiť si svoj čas a spoznať nových ľudí.
        Je to miesto, ktoré vám ponúka všetko, čo potrebujete pre dokonalú dovolenku.
        Rezervujte si svoj pobyt v našom hoteli už dnes a zažite nezabudnuteľný zážitok. Tešíme sa na vás!
    </p>
</div>

@code {

}
