<div class="footer-adjustment">
    <!-- Footer -->
    <footer class="text-center text-lg-start ">
        <!-- Grid container -->
        <div class="background-own-blue">
            <div class="navbar-color">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Obchodné meno
                        </h6>
                        <p>
                            Náš hotel je secesný kúpeľný hotel s welness, bazénmi, saunami a výbornou kuchyňou.
                            Ponúkame vám komfort, pohodu a históriu v zelenej oblasti.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
                        <h6 class="text-uppercase mb-4 font-weight-bold">O hoteli X</h6>
                        <p>
                            <a>Všeobecné obchodné podmienky</a>
                        </p>
                        <p>
                            <a>Práca a kariéra</a>
                        </p>
                        <p>
                            <a>Ochrana osobných údajov</a>
                        </p>
                        <p>
                            <a>Súlad s právnymi predpismi</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Služby
                        </h6>
                        <p>
                            <a>Zdravotné poisťovne</a>
                        </p>
                        <p>
                            <a>Cestovné kancelárie</a>
                        </p>
                        <p>
                            <a>Nezáväzný dopyt</a>
                        </p>
                        <p>
                            <a>Pomoc</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
                        <p><i class="fas fa-home mr-3"></i> Mesto Snov, SK 92222</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +421 123 456 789</p>
                        <p><i class="fas fa-print mr-3"></i> +421 987 654 321</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
                <!-- Section: Links -->

                <hr class="my-3">

                <!-- Section: Copyright -->
                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <!-- Grid column -->
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <!-- Copyright -->
                            <div class="p-3 txt-color-own txt-font-own">
                                Všetky práva vyhradené 2023
                            </div>
                            <!-- Copyright -->
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <!-- Facebook -->
                            <a class="btn btn-outline-dark btn-floating m-1"
                               role="button"><i class="bi bi-facebook"></i></a>
                            <!-- Twitter -->
                            <a class="btn btn-outline-dark btn-floating m-1"
                               role="button"><i class="bi bi-twitter-x"></i></a>
                            <!-- Instagram -->
                            <a class="btn btn-outline-dark btn-floating m-1"
                               role="button"><i class="bi bi-instagram"></i></a>
                        </div>
                        <!-- Grid column -->
                    </div>
                </section>
                <!-- Section: Copyright -->
            </div>
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>

@code {

}
