@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/**************************************************/

::deep .navbar-color {
    background-image: linear-gradient(to top, var(--oblue) 10%, var(--olightblue));
}
                     

::deep .navbar-color:hover {
        animation: fadeInOut 0.3s;
        background-image: linear-gradient(to top, var(--oblue) 40%, var(--olightblue));
}


@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

::deep .txt-color-own {
    color: #212427 !important;
}

::deep .txt-font-own {
    /*font-family: "Source Sans Pro", serif;*/
}

::deep .txt-color-own:hover {
    animation: fadeInOut 5s;
}

::deep .txt-hover-bold:hover {
    font-weight: bold;
}

::deep .txt-color-own-bold {
    font-weight: bold;
}

::deep .txt-color-own-normal {
    font-weight: normal;
}

::deep .txt-fancy-bold {
    -webkit-text-stroke-width: thin;
}

::deep .color-own-black {
    color: var(--oblack);
}
::deep .background-own {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(var(--oblue) 0.5px, transparent 0.5px), radial-gradient(var(--oblue) 0.5px, var(--owhite) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    background-repeat: repeat;
    background-attachment: fixed;
}

::deep .background-own-blue, .active-card:hover {
    background-color: var(--oblue);
}

::deep .background-own-darkblue {
    background-color: var(--odarkblue);
}

::deep .background-own-white, .light {
    background-color: var(--owhite);
}

::deep .opacity-full {
    opacity: 1 !important;
}

::deep .p-own {
    text-align: center;
    margin: 0.1rem;
}

.otocit {
    transform: scaleX(-1);
    display: inline-block;
}

.cut-down-margin {
    margin-bottom: unset !important;
}

.active-card-bonus:hover {
    border-color: var(--oblue);
}
