@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/**************************************************/

::deep .navbar-color {
    background-image: linear-gradient(to top, var(--oblue) 10%, var(--olightblue));
}
                     

::deep .navbar-color:hover {
        animation: fadeInOut 0.3s;
        background-image: linear-gradient(to top, var(--oblue) 40%, var(--olightblue));
}


@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.85;
    }

    100% {
        opacity: 1;
    }
}

::deep .txt-color-own {
    color: #212427 !important;
}

::deep .txt-font-own {
    /*font-family: "Source Sans Pro", serif;*/
}

::deep .txt-color-own:hover {
    animation: fadeInOut 5s;
}

::deep .txt-hover-bold:hover {
    font-weight: bold;
}

::deep .txt-color-own-bold {
    font-weight: bold;
}

::deep .txt-color-own-normal {
    font-weight: normal;
}

::deep .txt-fancy-bold {
    -webkit-text-stroke-width: thin;
}

::deep .background-own {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(var(--oblue) 0.5px, transparent 0.5px), radial-gradient(var(--oblue) 0.5px, var(--owhite) 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    background-repeat: repeat;
    background-attachment: fixed;
}

::deep .background-own-blue, .active-card:hover {
    background-color: var(--oblue);
}

::deep .background-own-white, .light {
    background-color: var(--owhite);
}

::deep .opacity-full {
    opacity: 1 !important;
}

::deep .p-own {
    text-align: center;
    margin: 0.1rem;
}

.otocit {
    transform: scaleX(-1);
    display: inline-block;
}

.cut-down-margin {
    margin-bottom: unset !important;
}

.active-card-bonus:hover {
    border-color: var(--oblue);
}


/*Rozsirovatelny postcard - DALEJ SU STIAHNUTE STYLY Z INTERNETU A UPRAVENE https://codepen.io/3psy0n/pen/LYpajmX*/

/*This pen*/

body {
    font-family: "Baloo 2", cursive;
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-weight: initial;
}

.dark {
    background: #110f16;
}



a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

Cards
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    &.dark

{
    background-color: #18151f;
}

&.light {
    background-color: #e1e5ea;
}

.t-dark {
    farba textu v postcarde color: #18151f;
}

.t-light {
    farba textu v postcarde color: var(--owhite);
}

:is(a) {
    color: inherit;
}

.h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small {
    font-size: 80%;
}

.postcard__title {
    font-size: 1.75rem;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard__img_link {
    display: contents;
}

.postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    .tag__item

{
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
    &:hover

{
    background: rgba(83, 83, 83, 0.8);
}

}
}

&:before {
    prechod na druhotnu farbu v postcarde (v rohu) content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-60deg, var(--olightblue), transparent 60%);
    opacity: 1;
    border-radius: 10px;
}

&:hover .postcard__bar {
    width: 100px;
}

}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
        .postcard__title

{
    font-size: 2rem;
}

.postcard__tagbox {
    justify-content: start;
}

.postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.postcard__text {
    padding: 3rem;
    width: 100%;
}

.media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
}

&:hover .postcard__img {
    transform: scale(1.1);
}

&:nth-child(2n+1) {
    flex-direction: row;
}

&:nth-child(2n+0) {
    flex-direction: row-reverse;
}

&:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
}

&:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}

}
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark {
        .postcard__text:before

{
    background: #18151f;
}

}

.postcard.light {
    pasik, ktory zatial nevyuzivam .postcard__text:before

{
    background: #000000;
}

}
}

/***************************

*************Stiahnute styly********************/



/********************************************/
