@inherits LayoutComponentBase




 

<div class="background-own-white page">

    <HeaderMain />

    <main>
        
        <article class="content px-4">
            @Body
        </article>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
    </main>



    <FooterMain />


</div>
